body {font-family: Cuprum Regular;
    font-size: 17px;
    line-height: 17px;
    color: ffffff;}

h1 {
    font-family: Cuprum Bold;
    font-size: 36px;
    line-height: 30px;
    color: ffffff;
    font-weight: bold;
}

h2 {font-family: Cuprum Regular;
    font-size: 30px;
    line-height: 30px;
    color: 32425c;
    }

